body {
	margin: 0;
	background-color: #efefef;
}

#header {
	background: #383a3e url(ga-logo.png) no-repeat fixed 0 0;
	padding: none;
	width: 100%;
	height: 40px;
}

.container-table {
	width: 95%;
	margin: 0 auto;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	border-collapse: collapse;
}

/* Show View */

#cards-container {
	width: 85%;
	margin: 0 auto;
	text-align: center;
}

.card-container {
	width: 460px;
	height: 300px;
	padding: 12px;
	display: inline-block;
	margin-top: 25px;
	overflow: hidden;
}

.info-block {
	background-color: #b3b3b3;
	width: 460px;
	height: 300px;
	color: #fff;
}

.title-card {
	margin: 0 140px;
	width: 180px;
	height: 33px;
	background-color: #8c142b;
}

.card-header {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	line-height: 32px;
}

