<div id='header'>
</div>

<div id='legend'>
  <div id='green'></div><span>85-100</span>
  <div id='yellow'></div><span>75-84</span>
  <div id='red'></div><span>74-Below</span>
</div>

<table class='container-table'>
  <tr class='headings'>
    <th>Name</th>
    <th>Homework</th>
    <th>Quizzes</th>
    <th>Attendance</th>
    <th>One on Ones</th>
  </tr>

  <!--     iterate here -->
  <tr class='student'>
    <td>Bryce</td>
    <td>100%</td>
    <td>100%</td>
    <td>100%</td>
    <td>100%</td>
  </tr>
</table>