<!DOCTYPE html>
<html>
<head>
  <title></title>
<!--  <link rel="stylesheet" type="text/css" href="button.css"> -->
  <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body id="body-container">
<div class="container">
   <div class="sub-container">
    <h1 id="h1-container">Student Manager</h1>
    <button class="btnn">Login with GitHub</button>
    <div id="bottom-logo">
    <img id="img-container" src="http://i.imgur.com/dNL5IUD.png" alt="Smiley face" height="42" width="42">
    <span id="logo">General Assembly</span>
    </div>
   </div>
</div> 
</body>
</html>