<!DOCTYPE html>
<html>
<head>
  <title></title>
<!--  <link rel="stylesheet" type="text/css" href="button.css"> -->
  <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
 <div class="container">
  <h1>Student Manager</h1>
  <button class="btnn">Login with GitHub</button>
  <div id="bottom-logo">
    <img src="https://dl-web.dropbox.com/get/GA_WDI_DASH/GA_logo.png?w=AABdSt8jDqApRj0d0cXB4ltyARB29mIa_XK7MUr44doVEA" alt="Smiley face" height="42" width="42">
    <span id="logo">General Assembly</span>
  </div>
</div>


</body>
</html>