  <div id='header'>
  </div>

  <div id='cards-container'>
  	<div class='card-container'>
  		<div class='title-card'><span class='card-header'>Contact Info</span></div>
  		<div class='info-block'></div>
  	</div>
  	<div class='card-container'>
  		<div class='title-card'><span class='card-header'>Quiz Info</span></div>
  		<div class='info-block'></div>
  	</div>

  	<div class='card-container'>
  		<div class='title-card'><span class='card-header'>Attendance</span>
  		</div>
  		<div class='info-block'>
  			<div id='attendance-overall'></div>
  			<div id='attendance-late'></div>
  			<div id='attendance-absent'></div>
  		</div>
  	</div>

  	<div class='card-container'>
  		<div class='title-card'><span class='card-header'>Projects</span></div>
  		<div class='info-block'></div>
  	</div>
  </div>