<div id="meta-splash">
  <div class="splash">
    <div id="splash-container">
      <img id="move" src="http://i.imgur.com/dNL5IUD.png" alt="General Assembly Logo" height="42" width="42">
      <h1 id="thank-you">Thank you for signing up</h1>
      <button class="btnn splash-btnn">Update your profile</button>
    </div>
    <div id="bottom-logo">
      <img src="http://i.imgur.com/dNL5IUD.png" alt="General Assembly Logo" height="42" width="42">
      <span id="logo">General Assembly</span>
    </div>
  </div>
</div>

