<!-- This view is accessible only by admins -->

<div id='header'>
</div>

<div id='legend'>
  <span>Users Pending Course Assignment</span>
</div>

<!-- users are populated by individuals logging in through github-->
<!-- users cannot view or edit courses or assignments until the admin has assigned them a WDI section, role-->

<table class='container-table'>
  <tr class='headings'>
    <th>Users</th>
    <th>Assign WDI Section and Role</th>
  </tr>

<!-- below are examples illustrating potential options set by dropdown under assign WDI secion, role -->
   
  <tr class='user'>
    <td>Bryce</td>
    <td>WDI Sections</td>
  </tr>

  <tr class='user'>
    <td>Mike</td>
    <td>WDI Fall 2013 Student</td>
  </tr>

  <tr class='user'>
    <td>Bobby</td>
    <td>WDI Sections</td>
  </tr>

  <tr class='user'>
    <td>Ryan</td>
    <td>WDI Sections</td>
  </tr>

  <tr class='user'>
    <td>David</td>
    <td>WDI Summer 2013 Teacher</td>
  </tr>

  <tr class='user'>
    <td>Tom</td>
    <td>WDI Fall 2013 TA</td>
  </tr>

  <tr class='user'>
    <td>Teddy</td>
    <td>WDI Summer 2013 Student</td>
  </tr>

  <tr class='user'>
    <td>Mary</td>
    <td>WDI Summer 2013 I Student</td>
  </tr>

  <tr class='user'>
    <td>Laura</td>
    <td>WDI Summer 2013 I TA</td>
  </tr>

  <tr class='user'>
    <td>Keegan</td>
    <td>WDI Sections</td>
  </tr>

  <tr class='user'>
    <td>Liz</td>
    <td>WDI Winter 2013 II Student</td>
  </tr>

  <tr class='user'>
    <td>Jody</td>
    <td>WDI Summer 2013 III Student</td>
  </tr>

   <tr class='user'>
    <td>Preethi</td>
    <td>WDI Sections</td>
  </tr>

  <tr class='user'>
    <td>Jessie</td>
    <td>WDI Summer 2013 III Teacher</td>
  </tr>

  <tr class='user'>
    <td>Arthur</td>
    <td>WDI Summer 2013 III TA</td>
  </tr>

  <tr class='user'>
    <td>Haya</td>
    <td>WDI Sections</td>
  </tr>

</table>