<div id='header'>
    Search: <input ng-model="query">
    <div id='legend'>
      <div id='green'></div><span>85-100</span>
      <div id='yellow'></div><span>75-84</span>
      <div id='red'></div><span>74-Below</span>
  </div>
</div>



<table class='container-table'>
  <tr class='headings'>
    <th><a href="" ng-click="orderProp = '-name'; reverse=false">Name</a> (<a href="" ng-click="orderProp = 'name'; reverse=false">^</a>)</th>
    <th><a href="" ng-click="orderProp = 'homework'; reverse=!reverse">Homework</a></th>
    <th><a href="" ng-click="orderProp = 'quiz'; reverse=!reverse">Quizzes</a></th>
    <th>Attendance <a href="" ng-click="orderProp = 'present'; reverse=!reverse">P</a>, 
                   <a href="" ng-click="orderProp = 'late'; reverse=!reverse">L</a>, 
                   <a href="" ng-click="orderProp = 'absent'; reverse=!reverse">A</a></th>
    <th><a href="" ng-click="orderProp = 'one_on_ones'; reverse=true">One on Ones</a></th>
  </tr>

  <!--     iterate here -->
  <tr ng-repeat="student in students | filter:query | orderBy:orderProp:true" class='student'>
    <td><a href="#/students/{{student.id}}">{{student.name}}</a></td>
    <td>{{student.homework}}%</td>
    <td>100%</td>
    <td>P: {{student.present}}, L: {{student.late}}, A: {{student.absent}}</td>
    <td>{{student.one_on_ones}}</td>
  </tr>
</table>