<div id='header'>
      <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="homework">Homework Completion</option>
        <option value="present">Attendance - Present</option>
        <option value="late">Attendance - Late</option>
        <option value="absent">Attendance - Absent</option>
      </select>

    </div>
</div>

<div id='legend'>
  <div id='green'></div><span>85-100</span>
  <div id='yellow'></div><span>75-84</span>
  <div id='red'></div><span>74-Below</span>
</div>

<table class='container-table'>
  <tr class='headings'>
    <th>Name</th>
    <th>Homework</th>
    <th>Quizzes</th>
    <th>Attendance</th>
    <th>One on Ones</th>
  </tr>

  <!--     iterate here -->
  <tr ng-repeat="student in students | filter:query | orderBy:orderProp:true" class='student'>
    <td>{{student.name}}</td>
    <td>{{student.homework}}%</td>
    <td>100%</td>
    <td>P: {{student.present}}, L: {{student.late}}, A: {{student.absent}}</td>
    <td>{{student.one_on_ones}}</td>
  </tr>
</table>