  <head>

</head>
<body>
  <div class="header">
    <div id="hamburger">
      <select name="" id="">
        <option value="option1">Add Student</option>
        <option value="option2">Add Teacher</option>
        <option value="option3">Add HW</option>
        <option value="option4">Add Quiz</option>
        <option value="option5">Add Admin</option>
      </select>
    </div>
    <div id="logo"></div>
    <div id="new-student-button"></div>
    <div id="mail-button"></div>
    <div id="settings-button"></div>
    <!-- fix div name -->
    <div id="user-button"></div> 
    <div id="gravatar"></div>
  </div>

  <div id="key-image"><img src="#" /></div>

  <div class="container">
    <div class="header-row">
      <div>Name</div>
      <div>Homework</div>
      <div>Quizzes</div>
      <div>Attendance</div>
      <div>One on Ones</div>
    </div>
    <div class="row">
      <div class="user-name"></div>
      <div class="user-homework"></div>
      <div class="user-quizzes"></div>
      <div class="user-attendance"></div>
      <div class="user-one-on-ones"></div>
    </div>
    
    <!-- <div id="name-column">
      <p>Name</p>
      <select id="name-dropdown">
        <option value="option1">Add Student</option>
        <option value="option2">Add Teacher</option>
        <option value="option3">Add HW</option>
      </select>    
    </div>
    <div id="homework-column">
      <p>Homework:</p>
      <select id="homework-dropdown">
        <option value="option1">Add Student</option>
        <option value="option2">Add Teacher</option>
        <option value="option3">Add HW</option>
      </select>
    </div>
    <div id="quiz-column">
      <p>Quiz:</p>
      <select id="quiz-dropdown">
        <option value="option1">Add Student</option>
        <option value="option2">Add Teacher</option>
        <option value="option3">Add HW</option>
      </select>
    </div>
    <div id="attendance-column">
      <p>Attendance:</p>
      <select id="attendance-dropdown">
        <option value="option1">Add Student</option>
        <option value="option2">Add Teacher</option>
        <option value="option3">Add HW</option>
      </select>

      <div id="one-on-one-column">
        <p>Quiz:</p>
        <select id="one-on-one-dropdown">
          <option value="option1">Add Student</option>
          <option value="option2">Add Teacher</option>
          <option value="option3">Add HW</option>
        </select>
      </div>
    </div> -->
  </div>
</body>
</html>